#aiogram=2.14.3
aiogram==2.25.2
asyncio==3.4.3
aioschedule==0.5.2
psutil==6.0.0
easydict
python-dotenv

uvloop==0.20.0; sys_platform != 'windows'
ujson==5.10.0
aiohttp[speedups]==3.8.6

ormar
aiosqlite
aiomysql
pymysql

torch
transformers